<!DOCTYPE html>
<html lang="en">

<%- include('partials/header.ejs') %>
<body>
	<%- include('partials/navbar.ejs') %> 
    <h2> My submissions</h2>
	<div class="row row-cols-1 row-cols-md-3 g-4">
		<% if (locals.data.length == 0) { %>
			<h4> You currently have no submissions. Go out there and find something to submit!</h4>
		<% } %>
		<% for (entry of data) {%> 
				<div class="col">
					<div class="card ">
						<img src="<%= entry.img_link %>" class="card-img-top" alt="<%= entry.poi_name %>" >
						<div class="card-body">
							<% if(entry.approved == 0) {%> 
									<input type="hidden" name="poi_id" value="<%= entry.poi_id %>">
									<h5 class="card-title"> <%= entry.poi_name %> </h5>
									<p class="card-text"> <%= entry.poi_desc %> </p>
									<p class="card-text"> Submitted by: <%= entry.username %> </p>
									<p>Status: Awaiting approval</p>
							<% } else { %>
									<input type="hidden" name="poi_id" value="<%= entry.poi_id %>">
									<h5 class="card-title"> <%= entry.poi_name %> </h5>
									<p class="card-text"> <%= entry.poi_desc %> </p>
									<p class="card-text"> Submitted by: <%= entry.username %> </p>
									<p>Status: Approved!</p>
							<% }%>
							<a href ="#" poi_id = "<%= entry.poi_id %>" poi_name = "<%= entry.poi_name %>" poi_desc = "<%= entry.poi_desc %>" class="btn btn-danger deletePOI">Delete</a>
                            <a href="/submissions/update?poi_id=<%= entry.poi_id %>" class="btn btn-primary">Update</a>
						</div>
					</div>
				</div>
		<% } %>
	</div>
	<!-- Modal -->
	<div id="modal-container">
		<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">Delete this POI?
							<div id="tempPOItitle"></div>
						</h5>
						
						
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<div id="tempPOItext"></div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-danger deleteButton" data-bs-dismiss="modal">DELETE</button>
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<%- include('partials/footer.ejs') %>
	<script>
		var POIIdToDelete;
		var POITitleToDelete;
		var POITextToDelete;
		$(".deletePOI").on("click",confirmDelete);
		$(".deleteButton").on("click",doDelete);

		function confirmDelete(){
			POIIdToDelete = $(this).attr("poi_id");
			POITitleToDelete = $(this).attr("poi_name");
			POITextToDelete = $(this).attr("poi_desc");
			$("#tempPOItitle").html(POITitleToDelete);
			$("#tempPOItext").html(POITextToDelete);

			$('#exampleModal').modal('toggle');

		}
		function doDelete(){
			window.location.href = `/submissions/delete?poi_id=${POIIdToDelete}`
		}


	</script>
</body>
</html>


